<div class="dashboard-routines-container g-3">
  <div class="card col-12 col-md-7">
    <div class="card-body">
      <h5 class="card-title fw-bold mb-3">Routines Completion Trend</h5>
          <!-- Placeholder table -->
      <div class="table-responsive">
        <table class="table table-bordered text-center align-middle">
          <thead>
            <tr>
              <th> Name</th>
                @for(day of days; track $index) {
                  <th>{{ day }}</th>
                }
            </tr>
          </thead>
          <tbody>
                @for(routine of routines();track $index) {
                <tr>
                  <td class="text-start">
                    <i [class]="routine.icon" class="me-2"></i>{{ routine.name }}
                    <button class="btn btn-sm" (click)="onRemoveRoutine(routine)"><i class="fas fa-trash"></i></button>
                  </td>
                  @for(completed of routine.completions;track $index) {
                  <td (click)="markAsCompleted(routine, $index)">
                    @if(completed) {
                      <span class="text-success fw-bold">✔</span>
                    }
                  </td>
                  }
            </tr>
                }
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8" class="text-center">
                <button class="btn btn-outline-primary" (click)="addRoutine()">
                  <i class="bi bi-plus-lg"></i> Add Routine
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <app-dashboard-chart [routines]="routines"></app-dashboard-chart>
 
</div>
