<div class="routines-section text-center">
      <app-section-title>Routines Completion Trend</app-section-title>
      @if(routines().length) {
        <table class="routines-table">
          <thead>
            <tr>
              <th> Name</th>
                @for(day of days; track $index) {
                  <th>{{ day }}</th>
                }
            </tr>
          </thead>
          <tbody>
                @for(routine of routines();track $index) {
                <tr>
                  <td class="text-start">
                    <i [class]="routine.icon" class="me-2"></i>{{ routine.name }}
                    <button class="btn btn-sm" (click)="onRemoveRoutine(routine)"><i class="fas fa-trash"></i></button>
                  </td>
                  @for(completed of routine.completions;track $index) {
                  <td (click)="markAsCompleted(routine, $index)">
                    @if(completed) {
                      <span class="text-success fw-bold">✔</span>
                    }
                  </td>
                  }
            </tr>
                }
          </tbody>
        </table>
      } @else {
        <p class="text-white">Currently no routines, please add some!</p>
      }
      <div class="d-flex justify-content-center">
          <app-button (clickEmit)="addRoutine()"><i class="bi bi-plus-lg"></i>Add Routine</app-button>
      </div>
    
        <!-- <button class="add-routine-btn" (click)="addRoutine()">
                  <i class="bi bi-plus-lg"></i> Add Routine
                </button> -->
</div>
<app-dashboard-chart [routines]="routines"></app-dashboard-chart>
 
