<div class="container">
  <div class="row pt-4">
    <div class="col-12 mx-auto">
      <div class="card">
        <div class="card-body">
          <form #goalFormRef="ngForm">
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Goal title</label>
                  <input type="text" [(ngModel)]="goal.goalName" name="goalName" class="form-control" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Start Date</label>
                  <input type="date" [(ngModel)]="goal.startDate" name="startDate" class="form-control" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Target Date</label>
                  <input type="date" [(ngModel)]="goal.endDate" name="endDate" class="form-control" required=""> 
                </div>
                <div class="mb-3">
                  <label class="form-label">Description</label>
                  <textarea class="form-control" [(ngModel)]="goal.description" name="description"></textarea>
                </div>
              </div>

              <div class="col-5">
                <div *ngFor="let milestone of goal.milestones; let i = index" class="row">
                  <div class="col-6">
                    <div class="mb-1">
                      <label class="form-label">Milestone Title</label>
                      <input type="text" [(ngModel)]="milestone.milestoneName" [name]="'milestoneName' + i" class="form-control">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-1">
                      <label class="form-label">Milestone Target Date</label>
                      @if(i > 0) {
                      <input
                        type="date"
                        [min]="goal.milestones[i - 1].targetDate || goal.startDate"
                        [max]="goal.endDate"
                        [(ngModel)]="milestone.targetDate"
                        [name]="'targetDate' + i"
                        class="form-control">
                      } @else {
                        
                        <input type="date" [min]="goal.startDate" [max]="goal.endDate" [(ngModel)]="milestone.  targetDate" [name]="'targetDate' + i" class="form-control">
                      }
                      
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="mb-3">
                      <label class="form-label">Description</label>
                      <textarea class="form-control" [(ngModel)]="milestone.description" [name]="'description' + i" required></textarea>
                    </div>
                  </div>
                  <div class="col-4 text-end my-auto">
                    <button type="button" class="btn btn-outline-secondary" (click)="addMilestone()">+</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row pt-3">
              <div class="col-12 text-center">
                <button type="button" class="btn btn-success" (click)="createGoal()">
                  @if(editing) {
                    <span>Edit goal</span>
                  } @else {
                    <span> Create goal</span>
                  }
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>
</div>

