 <nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a routerLink="home" class="navbar-brand fw-bold">
      <i class="fas fa-check-double me-2"></i>
       Task Master
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>
        @if (isLoggedIn()) {
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="" routerLink="tasks">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="" routerLink="goals">Goals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="" routerLink="reminders">Reminders</a>
        </li>
        }
      </ul>

      <div class="d-flex align-items-center">
        @if (isLoggedIn()) {
          <p class=" mb-0 me-2"><i class="fas fa-user me-2"></i>{{ loggedUserData.fullName }}</p>
          <button class="btn btn-outline-light btn-danger" (click)="logout()">
             Logout
          </button>
        } @else {
          <button class="btn btn-outline-light" data-bs-toggle="modal" >
            <i class="fas fa-user me-2"></i> Login
          </button>
        }
      </div>
    </div>
  </div>
</nav>

<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true" #authModalRef>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header border-0 pb-0">
        <ul class="nav nav-tabs nav-fill w-100 border-bottom-0" id="authTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#loginTabPane" type="button" role="tab" aria-controls="loginTabPane" aria-selected="true">
              Login
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signupTabPane" type="button" role="tab" aria-controls="signupTabPane" aria-selected="false">
              Sign Up
            </button>
          </li>
          <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="modal" aria-label="Close"></button>
        </ul>
      </div>
      <div class="modal-body pt-3">
        <div class="tab-content" id="authTabContent">

          <!-- Login Tab -->
          <div class="tab-pane fade show active" id="loginTabPane" role="tabpanel" aria-labelledby="login-tab">
            <form>
              <div class="mb-3">
                <label for="loginEmail" class="form-label" >Email address</label>
                <input type="email" class="form-control" id="loginEmail" placeholder="name@example.com" name="loginEmail" [(ngModel)]="loginObject.emailId">
              </div>
              <div class="mb-3">
                <label for="loginPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="loginPassword" placeholder="••••••••" name="login-password" [(ngModel)]="loginObject.password">
              </div>
              <button type="submit" class="btn btn-primary w-100" (click)="onLogin()">Login</button>
            </form>
          </div>

          <!-- Sign Up Tab -->
          <div class="tab-pane fade" id="signupTabPane" role="tabpanel" aria-labelledby="signup-tab">
            <form name>
              <div class="mb-3">
                <label for="signupName" class="form-label" >Full Name</label>
                <input type="text" class="form-control" id="signupName" placeholder="Your full name" name="fullName" [(ngModel)]="registerObject.fullName">
              </div>
              <div class="mb-3">
                <label for="signupEmail" class="form-label" >Email address</label>
                <input type="email" class="form-control" id="signupEmail" name="emailId" placeholder="name@example.com" [(ngModel)]="registerObject.emailId">
              </div>
              <div class="mb-3">
                <label for="signupPassword" class="form-label" >Password</label>
                <input type="password" class="form-control" id="signupPassword" name="password" placeholder="Create a password" [(ngModel)]="registerObject.password">
              </div>
              <div class="mb-3">
                <label for="mobileNumber" class="form-label">Mobile number</label>
                <input type="text" class="form-control" id="mobileNumber" name="mobileNo" placeholder="Mobile Number" [(ngModel)]="registerObject.mobileNo">
              </div>
              <button type="submit" class="btn btn-success w-100" (click)="onRegister()">Sign Up</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet />
