 <nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a routerLink="home" class="navbar-brand fw-bold">
      <i class="fas fa-check-double me-2"></i>
       Task Master
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (userSignal()) {
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="" routerLink="tasks">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="" routerLink="goals">Goals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="" routerLink="reminders">Reminders</a>
        </li>
        }
      </ul>

      <div class="d-flex align-items-center">
        @if (userSignal()) {
          <p class=" mb-0 me-2"><i class="fas fa-user me-2"></i>{{ userSignal()?.email }}</p>
          <button class="btn btn-outline-light btn-danger" (click)="onLogout()">
             Logout
          </button>
        } @else {
          <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#authModal">
            <i class="fas fa-user me-2"></i> Login
          </button>
        }
      </div>
    </div>
  </div>
</nav>

<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true" #authModalRef>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header border-0 pb-0">
        <ul class="nav nav-tabs nav-fill w-100 border-bottom-0" id="authTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#loginTabPane" type="button" role="tab" aria-controls="loginTabPane" aria-selected="true">
              Login
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signupTabPane" type="button" role="tab" aria-controls="signupTabPane" aria-selected="false">
              Sign Up
            </button>
          </li>
          <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="modal" aria-label="Close"></button>
        </ul>
      </div>
      <div class="modal-body pt-3">
        <div class="tab-content" id="authTabContent">

          <!-- Login Tab -->
          <div class="tab-pane fade show active" id="loginTabPane" role="tabpanel" aria-labelledby="login-tab">
            <div class="login-form">
              <h2>Login</h2>
              <form (submit)="onLogin()">
                <div class="mb-3">
                  <label for="" class="form-label">Login email</label>
                  <input class="form-control bg-dark text-white" type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Login password</label>
                  <input class="form-control bg-dark text-white" type="password" [(ngModel)]="password" name="password" placeholder="Password" required />
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn btn-success m-auto">Login</button>
                </div>
              </form>
              <p *ngIf="error" class="text-danger">{{ error }}</p>
            </div>
          </div>

          <!-- Sign Up Tab -->
          <div class="tab-pane fade" id="signupTabPane" role="tabpanel" aria-labelledby="signup-tab">
              <div class="register-form">
              <h2>Sign Up</h2>
              <form (submit)="onRegister()">
                <div class="mb-3">
                  <label for="" class="form-label">Register email address</label>
                  <input
                    type="email"
                    [(ngModel)]="registerObject.emailId"
                    name="registerEmail"
                    placeholder="Email"
                    required
                    class="form-control bg-dark text-white"
                  />
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Password</label>
                  <input
                    type="password"
                    [(ngModel)]="registerObject.password"
                    name="registerPassword"
                    placeholder="Password"
                    required
                    class="form-control bg-dark text-white"
                  />
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary" type="submit">Register</button>
                </div>
              </form>
              <p *ngIf="error" class="text-danger">{{ error }}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-main pt-4">
  <router-outlet />
</div>
<footer class="bg-dark">
  <div class="text-md-start justify-content-between py-4 px-4 px-xl-5">
    <div class="text-white text-center mb-md-0 container">
      Copyright ©Mojas Simunovic 2025. All rights reserved.
    </div>
  </div>
</footer>