<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="fw-bold">Task Planner</h1>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#taskModal">
      <i class="fa fa-plus me-2"></i>
      New Task</button>
  </div>
  <div class="task-board">
     @if (taskList$ | async; as taskList) {
    @if (taskList.length > 0) {

    
    <div class="task-column">
      <div class="card-header bg-success text-white">Daily Tasks</div>
      <div class="card-body">
        @for(task of taskList$ | async; track $index) {
          @if(task.frequency === 'Daily') {
            <div class="task-item">
              <div class="form-check">
                <input type="checkbox" [id]="task.taskId" class="form-check-input" />
                <label [for]="task.taskId" class="form-check-label">{{ task.taskName }}</label>
              </div>
              <span class="badge bg-info">{{ task.dueDate | date: 'longDate' }}</span>
              <p>{{ task.description }}</p>
            </div>
          }
        }
      </div>
    </div>

    <div class="task-column">
      <div class="card-header bg-primary text-white">Weekly Tasks</div>
      <div class="card-body">
        @for(task of taskList$ | async; track $index) {
          @if(task.frequency === 'Weekly') {
            <div class="task-item">
              <div class="form-check">
                <input type="checkbox" [id]="task.taskId" class="form-check-input" />
                <label [for]="task.taskId" class="form-check-label">{{ task.taskName }}</label>
              </div>
              <span class="badge bg-info">{{ task.dueDate | date: 'longDate' }}</span>
              <p>{{ task.description }}</p>
            </div>
          }
        }
      </div>
    </div>

    <div class="task-column">
      <div class="card-header bg-secondary text-white">Monthly Tasks</div>
      <div class="card-body">
        @for(task of taskList$ | async; track $index) {
          @if(task.frequency === 'Monthly') {
            <div class="task-item">
              <div class="form-check">
                <input type="checkbox" [id]="task.taskId" class="form-check-input" />
                <label [for]="task.taskId" class="form-check-label">{{ task.taskName }}</label>
              </div>
              <span class="badge bg-info">{{ task.dueDate | date: 'longDate' }}</span>
              <p>{{ task.description }}</p>
            </div>
          }
        }
      </div>
    </div>
  }
  }
  </div>
</div>

<div class="modal fade" id="taskModal" aria-labelledby="authModalLabel" aria-hidden="true" tabindex="-1" #taskModalRef>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header border-0 pb-0">
        <h5 class="modal-title">Create New Task</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form >
          <div class="mb-3">
            <label for="" class="form-label">Task Title</label>
            <input type="text" class="form-control" name="new-task-" [(ngModel)]="newTask.taskName" required>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Task Frequency</label>
            <select name="" id="" class="form-select bg-dark text-white" name="new-task-frequency" [(ngModel)]="newTask.frequency">
              <option value="Daily">Daily</option>
              <option value="Weekly">Weekly</option>
              <option value="Monthly">Monthly</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Start Date</label>
            <input type="date" class="form-control bg-dark text-white" name="new-task-star-date" [(ngModel)]="newTask.startDate">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Due Date</label>
            <input type="date" class="form-control bg-dark text-white" name="new-task-due-date" [(ngModel)]="newTask.dueDate">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Description</label>
            <textarea class="form-control bg-dark text-white" name="new-task-description" [(ngModel)]="newTask.description"></textarea>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="onSaveTask()" data-bs-dismiss="taskModal">Create task</button>
            <button class="btn btn-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
