<div class="">
  <div class="container">


  <app-title>Dashboard</app-title>
  <div class="stats-grid">
    @for(card of summaryCards(); track $index) {
      <app-dashboard-card [card]="card"></app-dashboard-card>
    }
  </div>
  <app-dashboard-routines (newRoutine)="openModal()"></app-dashboard-routines>


<div class="modal fade" id="routineModal" aria-labelledby="authModalLabel" aria-hidden="true" tabindex="-1" #routineModalRef>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header border-0 pb-0">
        <h5 class="modal-title">Create New Routine</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form >
          <div class="mb-3">
            <label for="" class="form-label">Routine Title</label>
            <input type="text" class="form-control" name="new-routine-title" [(ngModel)]="routine.name" required>
          </div>
          <div class="mb-3">
            <app-dashboard-icon-picker
              [icons]="faIcons"
              (iconSelected)="routine.icon= $event">
            </app-dashboard-icon-picker>
            <p class="pt-5">Selected Icon: <i [class]="routine.icon"></i></p>
          </div>
          <div class="modal-footer">
            <!-- <button class="btn btn-save" (click)="onSaveRoutine()" data-bs-dismiss="taskModal">Add routine</button> -->
             <app-button (click)="onSaveRoutine()">Add routine</app-button>
             <app-button (click)="onSaveRoutine()" btnType="cancel">Cancel</app-button>
            <button class="btn btn-cancel" (click)="closeModal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
